<div class="main-layout">
  <aside class="sidebar-area">
	<app-sidebar (selectionChange)="onCategorySelection($event)"></app-sidebar>
  </aside>
  <section class="main-content-area">
    <div class="category-cards-row">
      <app-category-card
				title="Fiction Books"
				description="Novels, stories, bestsellers & more"
				image="category/fiction-category.jpg"
				background="#00b8b8"
			></app-category-card>
			<app-category-card
				title="Science & Tech"
				description="Physics, coding, discoveries & more"
				image="category/science-category.jpg"
				background="#ffe066"
			></app-category-card>
			<app-category-card
				title="Children's Books"
				description="Stories, learning, fun & more"
				image="category/children-category.jpg"
				background="#e6f0fa"
			></app-category-card>
    </div>
        <div class="booklist-section">
			<ng-container *ngIf="!loading && !error">
        		<app-booklist [books]="filteredBooks"></app-booklist>
			</ng-container>
			<div *ngIf="loading">Loading books...</div>
			<div *ngIf="error" class="error">{{ error }}</div>
		</div>
  </section>
</div>
